.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.lang:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}

.map {
  height: 300px;
  margin: 30px;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.carousel {
  width: 500px;
  margin: auto;
}

.footer {
  border-top: 1px solid gray;
  height: 50px;
  background-color: rgb(245, 246, 248);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}