.content {
  display: flex;
  justify-content: space-between;
}

.product {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
}

.product img {
  width: 100px;
  height: 100px;
}

.product:hover {
  box-shadow: 0 10px 40px 0 lightgray;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  /* margin: 0 150px 0 5%; */
  margin-right: 150px;
  margin-left: 5%;
  gap: 20px;
}

.ad {
  position: fixed;
  right: 10px;
  bottom: 10px;
}