.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  border: 2px double orangered;
}

.nupp:hover {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.kuldne {
  color: goldenrod;
}

.url-aktiivne {
  height: 30px;
  border-radius: 5px;
}

.light {
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

.dark {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
}

.varviline {
  background-color: aliceblue;
  color: blue;
  height: 100%;
  min-height: 100vh;
}